@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@100&display=swap');

:root {

    --cor-primaria: #11009E;
    --cor-secundaria: #ffffff;
    --cor-tercearia:  #8696FE;
    --cor-hover: #4942E4;

    --font-principal: 'Krona One', sans-serif;
    --font-secundaria: 'Montserrat', sans-serif;

}

*{
    margin: 0;
    padding: 0;
}

body{
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
   
}

.cabecalho{

    padding: 2% 0 0 15%;

}

.cabecalho__menu{
    display: flex;
    gap: 80px;

}

.cabecalho__menu__link{

    font-family: var(--font-secundaria);
    font-size: 24px;
    font-weight: 600;
    color:var(--cor-tercearia);
    text-decoration: none;

}

.title{
    color: var(--cor-tercearia);
}

.content{
    /* margin: 10% 15%; */
    /* grid-template-columns: 50% 50%; */
    padding: 8% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.square{
    width: 615px;
    display:flex;
    flex-direction: column;
    gap: 40px;

}

.fontsize1{
    font-size: 36px;
    font-family: var(--font-principal);
}

.fontsize2{
    font-size: 24px;
    font-family: var(--font-secundaria);
}
.tittle2 {
    font-family: var(--font-principal);
    font-weight: 400;
    font-size: 24px;
}

.buttom{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.link {
    /* background-color: #22D4FD; */
    display: flex;
    justify-content: center;
    gap: 16px;
    border:3px solid var(--cor-tercearia);
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--font-secundaria);
}

.imgborder {
    border-radius: 122px;
}

.link:hover{

    background-color: var(--cor-hover);
   /*border:4px solid #22d4fd;
    width: 390px; */
}

.rodape {

    padding:14px;
    color:(var(--cor-primaria));
    background-color: var(--cor-tercearia);
    text-align: center;
    font-family: var(--font-secundaria);
    font-size:24px;
    font-weight: 400;

}