@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    box-sizing: border-box;
    background-color: #000000;
    color: #cac714;
}

.strong{
    color: #22D4FD;
}

.content{
    margin: 10% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.square{
    width: 615px;
    display:flex;
    flex-direction: column;
    gap: 40px;

}

.fontsize1{
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

.fontsize2{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}
.tittle2 {
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.buttom{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.link {
    /* background-color: #22D4FD; */
    display: flex;
    justify-content: center;
    gap: 16px;
    border:3px solid #e5ff00;
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: #f6f6f6;
    font-family: 'Montserrat', sans-serif;
}

.imgborder {
    border-radius: 122px;
    
}

